{% extends 'music/base.html' %}

{% block title %} {{ album.album_title }} {% endblock%}

{% block body%}

{% if error_message %}
    <p><Strong> {{ error_message }}</Strong></p>
{% endif %}


<div id ="containerSong">
    <img  class="detail_album_logo"  src = " {{ album.album_logo }} "><br>
    <div class="musicPlayerDiv">
        <div id="SongHeading">
            <h4 id="songName">Song name : </h4>
            <h4> Album title : {{ album.album_title }} </h4>
            <h4> Artist name : {{ album.artist }}</h4>
        </div>
        <audio controls id="audioControler">
        <source id ="audioPlayer" src="{{link.url}}/media/audio/song.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>

<div class="songContainer">
    <div class="songList">
    {% for song in album.song_set.all %}
        <p class="song_title" onclick="setTitle('{{song.song_title}}','{{song.file_type}} ')">{{song.song_title}} </p>
    {% endfor %}
    </div>
</div>


<script type="text/javascript"> 
    var a = "{{album.album_title}}";
    songName = document.getElementById("songName");
    audioPLayer = document.getElementById("audioPlayer");
    function setTitle(title,titleSrc){
        console.log(titleSrc);
        songName.innerHTML = "Song name : "+title;
        audioPLayer.src = "{{link.url}}/"+titleSrc;
    }
   
    
 </script>


{% endblock%} 
