{% extends 'music/base.html' %}

{% block title %} {{ album.album_title }} {% endblock%}

{% block body%}

{% if error_message %}
    <p><Strong> {{ error_message }}</Strong></p>
{% endif %}


<div id ="containerSong">
    <img  class="detail_album_logo"  src = " {{ album.album_logo }} "><br>
    <div class="musicPlayerDiv">
        <div id="SongHeading">
            <h3> Album title : {{ album.album_title }} </h3>
            <h4> Artist name : {{ album.artist }}</h4>
        </div>
        <audio controls id="audioControler">
        <!-- <source src="{{link.url}}/{{song.file_type}}" type="audio/mpeg"> -->
            Your browser does not support the audio element.
        </audio>
    </div>
</div>

<div id="SongList">
    {% for song in album.song_set.all %}
    <div>
        <p class="">{{song.song_title}} </p>
    </div>
    {% endfor %}
</div>



<script type="text/javascript"> 
    var a = "{{album.album_title}}";
    a = "{{link.url}}";
    console.log(a);
 </script>


{% endblock%} 
