table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    font-family:sans-serif;
    position: relative;
  }
 
 
  #racetitle{
    background-color: rgb(223, 45, 0);
    color: white;
  }

/* .header {
    background-color: rgb(161, 161, 161);
    color: white;
  } */

  th, td {
    padding: 15px;
  }