<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>IDRL</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <table >
        <tr>
            <th id='racetitle' colspan="3" >
                IDRL SEASON 4 - TRACK 1
            </th>
        </tr>
        <tr>
            <th class="header">RANK</th>
            <th class="header">NAME</th>
            <th class="header">TIME</th>
        </tr>
        {%for i in info.values%} 
        <tr>
            <td> {{i[0]}}  </td>
            <td> {{i[1]}} </td>
            <td >{{i[2]}} </td>
        </tr>
        {%endfor%} 
        
</table>
</body>
</html>


