.BodyBackground{
    background: black url("images/backgroundHills.jpg");
    background-size: cover;
    /* background-size: auto; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: aqua; */
}




.CardAlbum {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    /* border-radius: 20%; */
    float: left;
    margin: 13px;
    
  /* -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px); */
}

.CardAlbum:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

.AlbumContainer {
    padding: 2px 16px;
}

/* index page  */
#containerSong{
    margin-top: 2%;
    margin-left: 5%;
}

.index_album_logo{
   color: #000;
   margin-top: 5%;
   margin-left: 10%;
   top: 5%;
   width: 150px;
   height: 150px;
   border-radius: 50%;
  
}

/* detail page */
.songContainer{
    width: 25%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 5%;
}

.songList{
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;  
}


.song_title{
    color: white;
    font-size: 1.5em;
    margin-left:10%; 
}


#containerSong{
    margin-left:50%;
    /* border: 2px solid red; */
    border-radius: 5px; 
}

#SongHeading{
    margin-left:20%; 
}

.detail_album_logo{
   width: 100px;
   height: 100px;
   border-radius: 50%; 
   margin-left:45%; 
   margin-top: 12%
    
}
 
.musicPlayerDiv{
    margin-top: 35%;
}

#audioControler{
    width: 80%;
    margin-left: 12%;
}



